
    <br>
    <br>
    <div class="container">
        <h2 style="text-align: center">Search</h2>
        <br>
        <form>
            <div class="form-group" style="font-size: 18px">
                <label for="usr">Employee ID</label>
                <input type="text" class="form-control" id="usr"  ng-model="id">
            </div>

            <center>
                <button  class="btn-primary" style="height: 50px;width: 100px;font-size:20px" ng-click="search()">SEARCH</button>
            </center>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>MOBILE</th>
                </tr>
            </thead>
            <tbody ng-module="details">
                <tr>
                    <td>{{details.id}}</td>
                    <td>{{details.name}}</td>
                    <td>{{details.mobile}}</td>
                </tr>

            </tbody>
        </table>
    </div>
